@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

body {
  background-color: #e3e1fafb;
  border-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h3 {
  color: #3B2E53;
}

hr {
  background-color: #aba7dd;
  border-style: none;
  height: 2px;
}

.dot {
  background-color: inherit;
  border-color: #cdd9df;
  border-style: dotted none none none;
  border-width: 5px;
  width: 5%;
}

.content {
  padding: 5% 15%;
  margin-top: 4%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.icon {
  font-size: 1.5em; 
  color: #aba7dd;
  margin: 0rem .5rem;
}
